.btn {
  border-radius: 20px;
  font-weight: 700;
  padding: 12px 24px;
  text-transform: capitalize;
  transition: all .4s ease-in-out;



  &--yellow {
    border: 1px solid var(--yellow-color);
    background-color: var(--yellow-color);
    color: var(--dark-violet-color);
    font-size: 32px;
    &:focus {
      background-color: var(--light-yellow-color);
      //outline-offset: 3px;
    }

    @include for-desktop {
      &:hover {
        border: 1px solid var(--yellow-color);
        background-color: var(--dark-violet-color);
        color: var(--yellow-color);
      }
    }
    &:active {
      color: var(--orange-color);

    }
    @include tablet {
      font-size: 26px;
    }
    @include small-tablet {
      font-size: 24px;
    }
    @include mobile {
      font-size: 20px;
    }





  }
  &--grey {
    color: var(--dark-violet-color);
    background-color: var(--grey-color);
    color: var(--dark-violet-color);
    font-size: 28px;

    &:focus {
      background-color: var(--light-yellow-color);
      //outline-offset: 3px;
    }

    @include for-desktop {

      &:hover {
        background-color: var(--dark-violet-color);
        color: var(--light-color);



      }
    }
    &:active {
      color: var(--orange-color);
    }


    @include tablet {
      font-size: 24px;
    }
    @include tablet {
      font-size: 20px;
    }
    @include mobile {
      font-size: 18px;
    }
  }

  &--blue {
    border: 1px solid var(--blue-color);
    background-color: var(--blue-color);
    color: var(--light-color);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;

    &:focus {
      border: 1px solid var(--blue-color);
      background-color: var(--light-color);
      color: var(--blue-color);
    }

    @include for-desktop {

      &:hover {
        border: 1px solid var(--blue-color);
      background-color: var(--light-color);
      color: var(--blue-color);
      }
    }
    &:active {
      color: var(--orange-color);
    }

@include tablet {
  font-weight: 400;
}
  }

  &--light {
    border: 1px solid var(--violet-color);
    background-color: inherit;
    color: var(--violet-color);


    &:focus {
      border: 1px solid var(--violet-color);
      background-color: var(--violet-color);
      color: var(--light-color);
    }

    @include for-desktop {

      &:hover {
        border: 1px solid var(--violet-color);
        background-color: var(--violet-color);
        color: var(--light-color);
      }

    }
    &:active {

        border: 1px solid var(--violet-color);
        background-color: var(--light-color);
        color: var(--orange-color);

    }

  }
  &--violet {
    border: 1px solid var(--violet-color);
    background-color: var(--violet-color);
    color: var(--light-color);
    transition: all .4s ease-in-out;
    font-size: 28px;
    font-weight: 400;

    &:focus {
      border: 1px solid var(--violet-color);
    background-color: var(--violet-color);
    color: var(--light-color);
    }

    @include for-desktop {

      &:hover {
        border: 1px solid var(--violet-color);
        background-color: inherit;
        color: var(--violet-color);
      }

    }
    &:active {

        border: 1px solid var(--violet-color);
        background-color: var(--light-color);
        color: var(--orange-color);

    }

    @include tablet {
      font-size: 24px;
    }
    @include tablet {
      font-size: 20px;
    }
    @include mobile {
      font-size: 18px;
    }

  }

  @include old-desktop {
    padding: 8px 20px;
  }


}
