.categories {
margin: 100px 0;
  background-color: inherit;

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 45px;
  }

  &__item {
    grid-column: 3 span;

  }
  &__block {
    background-image: url(../img/product-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
  &__content {
    padding: 190px 40px 40px 0;
}
  &__name {
    position: relative;
    margin: 0;
    padding: 6px 0;
    border-radius: 0 5px 5px 0;
    font-size: 30px;
    font-weight: 400;
    text-align: start;
    color: var(--light-color);
    opacity: .9;
    background-color: #ED8187;
    transition: all .3s ease-in-out;

    span {
      display: inline-block;
      margin-left: 15px;
      transition: all .3s ease-in-out;
    }
}
}
.categories__link {
  display: inline-block;
  margin-left: 15px;
  color: var(--light-color);
  transition: all .3s ease-in-out;

  @include for-desktop {
    .categories__name {

      &:hover {
        opacity: 1;
      }

    }
    .categories__name span {
      &:hover {
        color: var(--light-yellow-color);
      }
    }
  }
}
