.categories {
  margin: 100px 0;
  background-color: inherit;

  @include old-desktop {
    margin: 70px 0;
  }
  @include mobile {
    margin: 24px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 45px;

    @include old-desktop {
      row-gap: 20px;
      column-gap: 20px;
    }
    @include small-tablet {
      //column-gap: 1px;
      row-gap: 20px;
    }
  }

  &__item {
    grid-column: 3 span;

    @include tablet {
      grid-column: 4 span;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include small-tablet {

      grid-column: 6 span;
    }
    @include mobile {

      grid-column: 12 span;
    }


  }
  &__block {
    background-image: url(../img/product-1.png);
    background-repeat: no-repeat;
    background-size: cover;


}
  &__content {
    padding: 190px 40px 40px 0;

}
  &__name {
    position: relative;
    margin: 0;
    padding: 6px 0;
    border-radius: 0 5px 5px 0;
    font-size: 30px;
    font-weight: 400;
    text-align: start;
    color: var(--light-color);
    opacity: .9;
    background-color: #ED8187;
    transition: all .3s ease-in-out;


    @include old-desktop {
      font-size: 24px;
    }
    &:focus {
      opacity: 1;
      color: var(--light-yellow-color);
      }

      span {
        display: inline-block;
        margin-left: 15px;
        transition: all .3s ease-in-out;

        @include mobile {
          margin-right: 15px;
        }

        &:active {

            color: var(--dark-violet-color);

        }
      }
}
}
.categories__link {
  display: inline-block;
  margin-left: 15px;
  color: var(--light-color);
  transition: all .3s ease-in-out;

  @include old-desktop {
    margin: 0;
  }



  @include for-desktop {
    .categories__name {

      &:hover {
        opacity: 1;
      }

    }
    .categories__name span {
      &:hover {
        color: var(--light-yellow-color);
      }
    }
  }

}
