.category {

&__item {
    position: relative;
    grid-column: 3 span;
    padding: 15px;
    background-color: var(--light-color);
    border: 1px solid var(--light-color);
    transition: all .3s ease-in-out;

    &:focus {
      border: 1px solid var(--grey-color);
        box-shadow: 0 5px 30px 0 #ccc;

        .category__name {
          color: var(--light-yellow-color);
        }
    }
    @include for-desktop {
      &:hover {

        .category__name {
          color: var(--light-yellow-color);
        }

      }
    }
    &:active {
      border: 1px solid var(--orange-color);

      .category__name {
        color: var(--orange-color);
      }

    }

    @include tablet {
      grid-column: 4 span;
    }
    @include small-tablet {
      grid-column: 6 span;
    }
    @include mobile {
      padding: 9px 0;
      grid-column: 12 span;

    }
}

&__block {
  position: relative;
}



  &__content {
    position: absolute;
    width: 80%;
    //top: 60%;
    //padding: 15px 0;

    @include mobile {
      position: relative;
      width: 100%;
}


  }
  &__img {

    img {
      width: 100%;
    }
    @include mobile {
      display: none;
    }
  }
  &__name {
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    color: var(--light-color);
    line-height: 120%;
    text-transform: capitalize;

    @include old-desktop {
      font-size: 22px;

    }
    @include tablet {
      font-size: 20px;
      font-weight: 400;
    }
    @include mobile {
      padding: 20px 0;
    }



    span {
      display: inline-block;
      padding-left: 15px;
    }
  }

}
.category__item {

  &--1 {
    .category__name {
      border-radius: 0 15px 15px 0;
      background-color: #ED8187;
    }
    .category__content {
      top: 60%;
    }

  }
  &--2 {
    .category__name {
      border-radius: 0 15px 15px 0;
      background-color: #56B8A6;
    }
    .category__content {
      top: 60%;
    }
  }
  &--3 {
    .category__name {
      border-radius: 15px 0 0 15px;
      background-color: #9E4396;
    }
    .category__content {
      top: 10%;
      right: 0;
    }
  }
  &--4 {
    .category__name {
      border-radius: 15px 15px 0 0;
      background-color: #89B96A;
      display: flex;
      justify-content: center;

      span {
        padding-left: 0;

      }
    }
    .category__content {
      bottom: 5px;
      left: 15%;

      @include mobile {
        left: 0;
      }
    }
  }
  &--5 {
    .category__name {
      border-radius: 0 15px 15px 0;
      background-color: #89B96A;
    }
    .category__content {
      top: 60%;
    }
  }
  &--6 {
    .category__name {
      border-radius: 0 15px 15px 0;
      background-color: #B48B46;
    }
    .category__content {
      top: 60%;
    }
  }
  &--7 {
    .category__name {
      border-radius: 15px 0 0 15px;
      background-color: #776E66;

      span {
        padding-left: 0;
        padding-right: 15px;
      }
    }
    .category__content {
      right: 0;
      top: 60%;
    }
  }
  &--8 {
    .category__name {
      border-radius: 15px 15px 0 0;
      background-color: var(--dark-violet-color);
      display: flex;
      justify-content: center;

      span {
        padding-left: 0;


      }

    }
    .category__content {
      bottom: 5px;
      left: 15%;

      @include mobile {
        left: 0;
      }
    }
  }


}
.category__item {

  &--1 {
    @include for-desktop {
      &:hover {
        background-color: #ED8187;
        }
    }
  }
  &--2 {
    @include for-desktop {
      &:hover {
        background-color: #56B8A6;
        }
    }
  }
  &--3 {
    @include for-desktop {
      &:hover {
        background-color: #9E4396;
        }
    }
  }
  &--4 {
    @include for-desktop {
      &:hover {
        background-color: #89B96A;
        }
    }
  }
  &--5 {
    @include for-desktop {
      &:hover {
        background-color: #89B96A;
        }
    }
  }
  &--6 {
    @include for-desktop {
      &:hover {
        background-color: #B48B46;
        }
    }
  }
  &--7 {
    @include for-desktop {
      &:hover {
        background-color: #776E66;
        }
    }
  }
  &--8 {
    @include for-desktop {
      &:hover {
        background-color: var(--dark-violet-color);
        }
    }
  }



}
.category__item {

  @include mobile {

    .category__name {
      border-radius: 15px;
      display: flex;
      justify-content: center;

      span {
        padding: 0;

      }

    }

  }





}
