.categories {
margin: 100px 0;
  background-color: inherit;

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 45px;
  }

  &__item {
    grid-column: 3 span;
    //height: 350px;
  }
  &__block {
    background-image: url(../img/product-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    //width: 350px;

  }
  &__content {

    padding: 190px 40px 40px 0;

  }
  &__name {
    position: relative;
    margin: 0;
    padding: 25px 0;
    border-radius: 0 5px 5px 0;
    font-size: 32px;
    font-weight: 400;
    text-align: start;
    color: var(--light-color);
    background-color: #ED8187;


  }
  &__name-link {
    display: inline-block;
    margin-left: 15px;
    color: var(--light-color);
    transition: color .3s ease-in-out;

    @include for-desktop {
      &:hover {
        color: var(--light-yellow-color);
      }
    }
  }
}
