.contacts {
  margin-bottom: 70px;
  background-color: inherit;

  @include small-tablet {
    margin-bottom: 20px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 50px;

    @include old-desktop {
      gap: 15px;
    }
  }
  &__img {
    grid-column: 7 span;

    img {
      width: 70%;
      height: 100%;

      @include tablet {
        width: 100%;
      }
    }

    @include tablet {
      grid-column: 6 span;
    }
    @include small-tablet {
      display: none;
    }
  }
  &__block {
    grid-column: 5 span;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      grid-column: 6 span;
    }
    @include small-tablet {
      grid-column: 12 span;
    }

  }

  &__address {
    display: inline-block;
    display: flex;
    margin-bottom: 55px;
    flex-direction: column;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;

    span {
      display: inline-block;
      font-weight: 400;
      font-style: italic;
    }

    @include old-desktop {
      font-size: 28px;
    }
    @include tablet {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  &__title {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
    text-align: left;

    @include tablet {
      margin-bottom: 20px;
    }

  }
  &__btn {
    margin-bottom: 60px;
    font-size: 30px;

    @include small-tablet {
      margin-bottom: 20px;
    }
  }
  &__list {

    font-size: 18px;
    line-height: 160%;
  }

}
