.event {
  margin-bottom: 50px;
  padding: 50px 0;
  background-image: url(../img/team-bg.jpg);

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  &__title {
    margin: 0;
    margin-bottom: 50px;
    color: var(--light-color);
  }
  &__slider-nav {
    transform: translate(12px, 4px);
  }


  &__item {
    grid-column: 8 span;
    overflow: hidden;
  }
  &__name {
    margin: 0;
    padding: 0;
    padding: 15px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: var(--orange-color);
  }

  &__descr {
    margin: 0;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    color: var(--light-color);
  }
}

.event-nav {
  position: relative;
  grid-column: 4 span;



  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__btn {
    position: relative;
    padding-left: 40px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--light-color);



    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 17px;
      border-radius: 100%;
      width: 12px;
      height: 12px;
      background-color: currentColor;
    }

    &:focus {
      outline: none;
      color: var(--orange-color);
    }

    @include for-desktop {

      transition: color 0.3s ease-in-out;
      &:hover {
        color: var(--orange-color);
      }
    }



    &:active {
      color: var(--orange-color);
    }

    &--active {
      color: var(--orange-color);
      transition: color 0.3s ease-in-out;


    }


  }


}
