.header {
  background-color: var(--grey-color-bg);
  width: 100%;
  position: absolute;
  z-index: 9000;

  @include small-tablet {
    background-color: transparent;
  }

  &__container {

    display: grid;
    grid-template-columns: repeat(12, 1fr);

  }

  &__left {

    grid-column: 6 span;
    display: flex;
    align-items: center;
    padding: 1px 0;

    @include tablet {
      grid-column: 8 span;
  }
  @include mobile {
    grid-column: 10 span;
  }
}
  &__right {

    grid-column: 6 span;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;

    @include tablet {
      grid-column: 4 span;
  }
  @include mobile {
    grid-column: 2 span;
  }

  }
  &__logo {
    img {
      width: 60%;
    }
    @include small-tablet {
      display: none;

    }
  }
  &__nav {
    @include tablet {
      position: fixed;
      left: 0;
      top: 0;
      margin-left: 0;
      z-index: 1000;
      overflow-y: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      //height: var(--vh);
      padding: 50px;
      width: 100%;
      height: 100vh;
      opacity: .9;
      background-color: var(--dark-violet-color);
      transform: translateX(-104%);
      transition: transform 0.3s ease-out;


    }
  }
  &__nav--active {
    margin-left: 0;
    transform: none;
  }

}

