.header {
  background-color: var(--grey-color-bg);
  width: 100%;

  position: fixed;

  &__container {

    display: grid;
    grid-template-columns: repeat(12, 1fr);

  }

  &__left {

    grid-column: 6 span;
    display: flex;
    align-items: center;
    padding: 1px 0;
  }
  &__right {

    grid-column: 6 span;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;

  }
  &__logo {
    img {
      width: 60%;
    }
  }

}
