.list {
  margin-bottom: 70px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    position: relative;
    font-size: 30px;
    line-height: 200%;


    &::before {
      content: "";
      position: absolute;
      width: 48px;
      height: 48px;
      background-image: url(../img/svg/li.svg);
    }
  }
  &__txt {
    display: inline-block;
    margin-left: 57px;
  }

  &__btn {

    font-size: 30px;

    .btn {
      padding: 50px 80px;
    }
  }
}
