.list {
  margin-bottom: 70px;

  @include small-tablet {
    margin-bottom: 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include small-tablet {
      flex-direction: column;

    }
  }

  &__item {
    position: relative;
    font-size: 30px;
    line-height: 200%;


    &::before {
      content: "";
      position: absolute;
      width: 48px;
      height: 48px;
      background-image: url(../img/svg/li.svg);
      background-repeat: no-repeat;

      @include tablet {
        background-position: center;
        background-size: 70%;
      }


    }

    @include tablet {
      font-size: 26px;
    }
    @include small-tablet {
      font-size: 20px;
      line-height: 160%;
    }
  }
  &__txt {
    display: inline-block;
    margin-left: 57px;
  }

  &__btn {



    .btn {
      padding: 50px 80px;

      @include tablet {
        margin-top: 15px;
        padding: 30px 60px;
      }
    }
  }
}
