.phone {
  margin-bottom: 70px;

  &__list {
    margin-bottom: 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    position: relative;
    font-size: 30px;
    line-height: 200%;


    &::before {
      content: "";
      position: absolute;
      width: 48px;
      height: 48px;
      background-image: url(../img/svg/check.svg);


    }
  }
  &__txt {
    display: inline-block;
    margin-left: 57px;
  }

  &__btn {
text-align: right;
    font-size: 30px;


  }
}
