.quotes {
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: inherit;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    //grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
  }
  &__item {

    //grid-row: 1 span;
    //min-height: 223px;

    &--1 {
      grid-column: 5 span;
    }
    &--2 {
      grid-column: 3 span;
    }
    &--3 {
      grid-column: 4 span;
    }
    &--4 {
      grid-column: 3 span;
    }
    &--5 {
      grid-column: 5 span;
    }
    &--6 {
      grid-column: 4 span;
    }

  }


}
.quote-block {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  background-color: var(--light-color);
  box-shadow: 0 5px 50px 0 #ccc;
  color: var(--dark-violet-color);

  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/quote.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    top: -10px;
    right: 50%;
    width: 30px;
    height: 20px;
  }


  &__title {
    font-size: 24px;
    font-weight: 700;
  }
  &__time {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

  }
  &__btn {
    margin-top: 50px;
    font-size: 24px;
  }


}
blockquote {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
}
time {
  font-size: 16px;

}
