.shop {
  margin-top: 150px;
  background-color: inherit;

  &__top {
    padding: 0 15px;
    margin-bottom: 20px;
  }


  &__main {
    font-size: 24px;
    font-weight: 400;
    color: var(--grey-color);
    transition: color .3s ease-in-out;

    &:focus {
      color: var(--violet-color);
    }


      @include for-desktop {

        &:hover {
          color: var(--violet-color);
          }
        }
    &:active {
      color: var(--orange-color);
    }
  }

  &__search {
    display: flex;
    justify-content: flex-end;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 45px;

    @include old-desktop {
      row-gap: 20px;
      column-gap: 20px;
    }
    @include small-tablet {
      //column-gap: 1px;
      row-gap: 20px;
    }
    @include mobile {
      row-gap: 1px;
      column-gap: 1px;
    }
  }

  &__bottom {
padding: 0 15px;
margin-bottom: 50px;
  }

&__btn {
  margin-bottom: 20px;
  text-align: center;
}
&__pagination {
  margin-bottom: 20px;
}
&__nav {


  @include mobile {
    display: flex;
    flex-direction: column;


  }
  &__btn {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}









}

