.single-product {
  margin-top: 150px;
  background-color: inherit;
  color: var(--dark-violet-color);

  &__top {
    margin-bottom: 100px;
  }

  &__inner {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 50px;
  }
  &__img {
    grid-column: 6 span;

    img {
      width: 100%;
    }
  }
  &__content {
    grid-column: 6 span;
  }
  &__title {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 150%;

    
  }
  &__subtitle {
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: var(--grey-color);
    line-height: 150%;
  }
  &__price {
    padding: 17px 0;
    font-size: 20px;
    font-weight: 400;


    @include tablet {
      font-size: 16px;
      line-height: 100%;
      font-weight: 400;
    }
    @include mobile {
      font-size: 20px;
    }

  }
  &__btns {
    display: flex;
    margin-bottom: 20px;
}
  &__cart {
    margin-right: 15px;
  }
  &__descr {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    line-height: 200%;
  }


  }
  .single-product-item {

    &__title {
      margin: 0;
      padding: 0;
      width: 30%;
    }
    &__txt {
      margin: 0;
      margin-left: 20px;
      padding: 0;
      font-size: 18px;
    }
  }

