.single-product {
  margin-top: 150px;
  background-color: inherit;
  color: var(--dark-violet-color);

  @include tablet {
    margin-top: 125px;
  }

  @include small-tablet {
    margin-top: 100px;
  }

  &__top {
    margin-bottom: 100px;


  @include tablet {
    margin-bottom: 40px;
  }

    @include small-tablet {
      margin-bottom: 20px;
    }
  }

  &__inner {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @include tablet {
      margin-bottom: 40px;
    }
    gap: 50px;

    @include small-tablet {
      margin-bottom: 20px;
      gap: 10px;
    }
  }
  &__img {
    grid-column: 6 span;

    @include small-tablet {
      grid-column: 12 span;
    }

    img {
      width: 100%;
    }
  }
  &__content {
    grid-column: 6 span;

    @include small-tablet {
      grid-column: 12 span;
    }
  }
  &__title {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 150%;

    @include tablet {
      line-height: 120%;
    }


  }
  &__subtitle {
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: var(--grey-color);
    line-height: 150%;

    @include tablet {
      font-size: 20px;
    }
  }
  &__price {
    padding: 17px 0;
    font-size: 20px;
    font-weight: 700;


    @include tablet {
      padding: 10px 0;
      font-size: 16px;
      line-height: 100%;
      font-weight: 400;
    }
    @include mobile {
      font-size: 20px;
    }

  }
  &__btns {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 15px;
    }
}
  &__cart {
    margin-right: 15px;
  }
  &__descr {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 130%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    line-height: 200%;

    @include tablet {
      line-height: 150%;
    }
  }


  }
  .single-product-item {

    &__title {
      margin: 0;
      padding: 0;
      width: 30%;

      @include tablet {
        font-size: 18px;
      }
    }
    &__txt {
      margin: 0;
      margin-left: 20px;
      padding: 0;
      font-size: 18px;

      @include tablet {
        font-size: 16px;
      }
    }
  }
  .single-modal {
    border-radius: 15px;
    border: 1px solid var(--dark-violet-color);

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
&__inner {
  margin-bottom: 0;
}
}

