.team {
  //margin-bottom: 70px;
  padding: 50px 0;
  background-image: url(../img/team-bg.jpg);

  &__title {
    margin-bottom: 55px;
    color: var(--light-color);
  }


}
.team-slider__wrap {
  padding-bottom: 40px;
}
.team-slider {
  width: 100%;
  height: 100%;



  &__content {

    color: var(--light-color);
  }

  &__name {
    margin: 0;
    padding: 15px 0;
    font-size: 32px;
    font-weight: 700;

  }

  &__descr {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 140%;

  }
}

.team-slider__slide {
  text-align: center;
  font-size: 18px;
  //background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-slider__slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: var(--light-color);
}
