.ticker-block {
  margin-bottom: 70px;
  background-color: var(--light-yellow-color);
  padding: 40px 0;

  &__title {
    margin: 0;

    padding-bottom: 40px;
    text-align: center;
    color: var(--dark-violet-color);


  }
}

.ticker {
  position: relative;
  overflow: hidden;
}

.ticker__wrapper {
  display: flex;
}

.ticker__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  color: var(--orange-color);
  flex-shrink: 0;
text-transform: uppercase;
  animation: ticker 5s linear infinite;

  &-img {
    margin-bottom: 35px;

    svg {
      fill: #797183;
      width: 100px;
      height: 100px;
    }
  }

}

//@keyframes ticker {
 // 0% {
   //transform: translateZ(0);
  //}
  //to {
   //transform: translate3d(-100%, 0, 0);
  //}
//}
