:root {
  --font-family: "Poppins", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --content-middle: 1596px;
  --container-middle: calc(var(--content-middle) + (var(--container-offset) * 2));
  --content-fluid: 1920px;
  --container-fluid: calc(var(--content-fluid) + (var(--container-offset) * 2));
  --light-color: #fff;
  --dark-color: #2B2723;
  --violet-color: #889df3;
  --dark-violet-color: #352744;
  --yellow-color: #FAE94A;
  --light-yellow-color: #EEE8AB;
  --orange-color: #E78F3D;
  --blue-color: #3960FF;
  --grey-color: #D9DCE8;
  --grey-color-bg: rgba(91, 87, 62, .7);
  --main-offset: 40px;
  --second-offset: 20px;
  --small-offset: 10px;
  --big-offset: 60px;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  color: var(--dark-violet-color);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-middle {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-middle);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.header {
  background-color: var(--grey-color-bg);
  width: 100%;
  position: absolute;
  z-index: 9000;
}
.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}
.header__left {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1px 0;
}
.header__right {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: 20px;
}
.header__logo img {
  width: 60%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.nav__item {
  margin-right: 40px;
}
@media (max-width: 1024px) {
  .nav__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.nav__link {
  color: var(--light-color);
  font-size: 24px;
  font-weight: 400;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .nav__link {
    font-size: 30px;
  }
}
.nav__link:focus {
  outline-offset: 2px solid var(--orange-color);
}
@media (min-width: 1025px) {
  .nav__link:hover {
    color: var(--light-yellow-color);
  }
}
.nav__link:active {
  color: var(--orange-color);
}

.hero {
  margin-top: -119px;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: var(--vh);
  min-height: 810px;
}
.hero__logo {
  margin-top: 150px;
  margin-bottom: 30px;
}
.hero__content {
  margin-left: 40px;
}
.hero__title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  color: #FFF;
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7.2px;
}
.hero__btn {
  font-size: 32px;
  color: var(--dark-violet-color);
}

.btn {
  border-radius: 20px;
  font-weight: 700;
  padding: 12px 24px;
  text-transform: capitalize;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
.btn--yellow {
  border: 1px solid var(--yellow-color);
  background-color: var(--yellow-color);
  color: var(--dark-violet-color);
}
@media (min-width: 1025px) {
  .btn--yellow:hover {
    border: 1px solid var(--yellow-color);
    background-color: var(--dark-violet-color);
    color: var(--yellow-color);
  }
}
.btn--grey {
  color: var(--dark-violet-color);
  background-color: var(--grey-color);
  color: var(--dark-violet-color);
}
@media (min-width: 1025px) {
  .btn--grey:hover {
    background-color: var(--dark-violet-color);
    color: var(--light-color);
  }
}

.ticker-block {
  margin-bottom: 70px;
  background-color: var(--light-yellow-color);
  padding: 40px 0;
}
.ticker-block__title {
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
  color: var(--dark-violet-color);
}

.ticker {
  position: relative;
  overflow: hidden;
}

.ticker__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticker__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 50px;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  color: var(--orange-color);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-transform: uppercase;
  -webkit-animation: ticker 5s linear infinite;
  animation: ticker 5s linear infinite;
}
.ticker__item-img {
  margin-bottom: 35px;
}
.ticker__item-img svg {
  fill: #797183;
  width: 100px;
  height: 100px;
}

.categories {
  margin-bottom: 70px;
  background-color: inherit;
}
.categories__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 45px;
}
.categories__item {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
.categories__block {
  background-image: url(../img/product-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.categories__content {
  padding: 190px 40px 40px 0;
}
.categories__name {
  position: relative;
  margin: 0;
  padding: 6px 0;
  border-radius: 0 5px 5px 0;
  font-size: 30px;
  font-weight: 400;
  text-align: start;
  color: var(--light-color);
  opacity: 0.9;
  background-color: #ED8187;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.categories__name span {
  display: inline-block;
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.categories__link {
  display: inline-block;
  margin-left: 15px;
  color: var(--light-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1025px) {
  .categories__link .categories__name:hover {
    opacity: 1;
  }
  .categories__link .categories__name span:hover {
    color: var(--light-yellow-color);
  }
}

.team {
  padding: 50px 0;
  background-image: url(../img/team-bg.jpg);
}
.team__title {
  margin-bottom: 55px;
  color: var(--light-color);
}

.team-slider__wrap {
  padding-bottom: 40px;
}

.team-slider {
  width: 100%;
  height: 100%;
}
.team-slider__content {
  color: var(--light-color);
}
.team-slider__name {
  margin: 0;
  padding: 15px 0;
  font-size: 32px;
  font-weight: 700;
}
.team-slider__descr {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 140%;
}

.team-slider__slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-slider__slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: var(--light-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__item:not(:last-child) {
  margin-right: var(--second-offset);
}
.social__link {
  display: block;
  outline: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.social__link svg {
  width: 44px;
  height: 44px;
  fill: var(--grey-color);
}
.social__link:focus {
  opacity: 0.8;
}
@media (min-width: 1025px) {
  .social__link:hover {
    opacity: 0.8;
  }
}
.social__link:active {
  opacity: 0.8;
}

.quotes {
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: inherit;
}
.quotes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.quotes__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
}
.quotes__item--1 {
  -ms-grid-column-span: 5;
  grid-column: 5 span;
}
.quotes__item--2 {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
.quotes__item--3 {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
.quotes__item--4 {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
.quotes__item--5 {
  -ms-grid-column-span: 5;
  grid-column: 5 span;
}
.quotes__item--6 {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}

.quote-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  background-color: var(--light-color);
  -webkit-box-shadow: 0 5px 50px 0 #ccc;
  box-shadow: 0 5px 50px 0 #ccc;
  color: var(--dark-violet-color);
}
.quote-block::before {
  content: "";
  position: absolute;
  background-image: url(../img/svg/quote.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  top: -10px;
  right: 50%;
  width: 30px;
  height: 20px;
}
.quote-block__title {
  font-size: 24px;
  font-weight: 700;
}
.quote-block__time {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.quote-block__btn {
  margin-top: 50px;
  font-size: 24px;
}

blockquote {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
}

time {
  font-size: 16px;
}

.assortiment {
  margin-bottom: 70px;
}

.assortiment-slider-swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.assortiment-swiper-wrap {
  padding-bottom: 30px;
}

.assortiment-slider-wrap {
  height: 110px;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.assortiment-slider {
  height: 550px;
  width: 100%;
}

.assortiment-slider .assortiment-slider__slide {
  border-radius: 15px;
  text-align: center;
  color: var(--light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.assortiment-slider .assortiment-slider__slide-title {
  font-size: 40px;
}
.assortiment-slider .assortiment-slider__slide-descr {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  max-width: 60%;
}

.assortiment-nav__img {
  border-radius: 15px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.assortiment-nav {
  margin-top: 28px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.assortiment-nav .assortiment-nav__slide {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.7;
}

.assortiment-nav .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide {
  display: block;
  width: 100%;
  height: 100%;
}

.arrow {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border-radius: 50%;
  opacity: 0.7;
  background-color: var(--grey-color);
}
@media (min-width: 1025px) {
  .arrow:hover {
    opacity: 1;
  }
}

.swiper-button-next, .swiper-button-prev {
  color: var(--dark-color);
}

.list {
  margin-bottom: 70px;
}
.list__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.list__item {
  position: relative;
  font-size: 30px;
  line-height: 200%;
}
.list__item::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url(../img/svg/li.svg);
}
.list__txt {
  display: inline-block;
  margin-left: 57px;
}
.list__btn {
  font-size: 30px;
}
.list__btn .btn {
  padding: 50px 80px;
}

.event {
  margin-bottom: 50px;
  padding: 50px 0;
  background-image: url(../img/team-bg.jpg);
}
.event__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}
.event__title {
  margin: 0;
  margin-bottom: 50px;
  color: var(--light-color);
}
.event__slider-nav {
  -webkit-transform: translate(12px, 4px);
  -ms-transform: translate(12px, 4px);
  transform: translate(12px, 4px);
}
.event__item {
  -ms-grid-column-span: 8;
  grid-column: 8 span;
  overflow: hidden;
}
.event__name {
  margin: 0;
  padding: 0;
  padding: 15px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: var(--orange-color);
}
.event__descr {
  margin: 0;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
  color: var(--light-color);
}

.event-nav {
  position: relative;
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
.event-nav__item:not(:last-child) {
  margin-bottom: 20px;
}
.event-nav__btn {
  position: relative;
  padding-left: 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: var(--light-color);
}
.event-nav__btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 17px;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background-color: currentColor;
}
.event-nav__btn:focus {
  outline: none;
  color: var(--orange-color);
}
@media (min-width: 1025px) {
  .event-nav__btn {
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }
  .event-nav__btn:hover {
    color: var(--orange-color);
  }
}
.event-nav__btn:active {
  color: var(--orange-color);
}
.event-nav__btn--active {
  color: var(--orange-color);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.phone {
  margin-bottom: 70px;
}
.phone__list {
  margin-bottom: 20px;
}
.phone__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.phone__item {
  position: relative;
  font-size: 30px;
  line-height: 200%;
}
.phone__item::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url(../img/svg/check.svg);
}
.phone__txt {
  display: inline-block;
  margin-left: 57px;
}
.phone__btn {
  text-align: right;
  font-size: 30px;
}

.footer {
  background-color: #2E2C38;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__logo {
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer__content {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  color: var(--light-color);
}
.footer__social {
  margin-bottom: 20px;
}
.footer__copyright {
  margin-bottom: 40px;
  font-size: 16px;
  color: var(--light-color);
}
/*# sourceMappingURL=main.css.map */