<section class="assortiment">
  <div class="assortiment__container container">
    <h2 class="title assortiment__title">Мы всегда готовы радовать и удивлять вас!</h2>
    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
      class="assortiment-slider-swiper swiper mySwiper2 assortiment-slider">
      <div class="swiper-wrapper assortiment-swiper-wrap">
        <div class="swiper-slide assortiment-slider__slide" style="background-image: url(../img/slide-5.jpg);">
          <h3 class="assortiment-slider__slide-title">
            Бонсаи
          </h3>
          <p class="assortiment-slider__slide-descr">
            Все покажем и расскажем,
            бесплатная консультация
            по уходу после покупки
          </p>
        </div>
        <div class="swiper-slide assortiment-slider__slide" style="background-image: url(../img/slide-2.jpg);">
          <h3 class="assortiment-slider__slide-title">
            Бонсаи
          </h3>
          <p class="assortiment-slider__slide-descr">
            Все покажем и расскажем,
            бесплатная консультация
            по уходу после покупки
          </p>
        </div>
        <div class="swiper-slide assortiment-slider__slide" style="background-image: url(../img/slide-3.jpg);">
          <h3 class="assortiment-slider__slide-title">
            Бонсаи
          </h3>
          <p class="assortiment-slider__slide-descr">
            Все покажем и расскажем,
            бесплатная консультация
            по уходу после покупки
          </p>
        </div>
        <div class="swiper-slide assortiment-slider__slide" style="background-image: url(../img/slide-4.jpg);">
          <h3 class="assortiment-slider__slide-title">
            Бонсаи
          </h3>
          <p class="assortiment-slider__slide-descr">
            Все покажем и расскажем,
            бесплатная консультация
            по уходу после покупки
          </p>
        </div>
        <div class="swiper-slide assortiment-slider__slide" style="background-image: url(../img/slide-5.jpg);">
          <h3 class="assortiment-slider__slide-title">
            Бонсаи
          </h3>
          <p class="assortiment-slider__slide-descr">
            Все покажем и расскажем,
            бесплатная консультация
            по уходу после покупки
          </p>
        </div>
        <div class="swiper-slide assortiment-slider__slide" style="background-image: url(../img/slide-3.jpg);">
          <h3 class="assortiment-slider__slide-title">
            Бонсаи
          </h3>
          <p class="assortiment-slider__slide-descr">
            Все покажем и расскажем,
            бесплатная консультация
            по уходу после покупки
          </p>
        </div>
        <div class="swiper-slide assortiment-slider__slide" style="background-image: url(../img/slide-3.jpg);">
          <h3 class="assortiment-slider__slide-title">
            Бонсаи
          </h3>
          <p class="assortiment-slider__slide-descr">
            Все покажем и расскажем,
            бесплатная консультация
            по уходу после покупки
          </p>
        </div>
      </div>
      <div class="swiper-button-next arrow"></div>
      <div class="swiper-button-prev arrow"></div>
    </div>
    <div thumbsSlider="" class="assortiment-slider-swiper swiper mySwiper assortiment-nav">
      <div class="swiper-wrapper assortiment-slider-wrap">
        <div class="swiper-slide assortiment-nav__slide">
          <div class="assortiment-nav__img" style="background-image: url(../img/slide-5.jpg);"></div>
        </div>
        <div class="swiper-slide assortiment-nav__slide">
          <div class="assortiment-nav__img" style="background-image: url(../img/slide-2.jpg);"></div>
        </div>
        <div class="swiper-slide assortiment-nav__slide">
          <div class="assortiment-nav__img" style="background-image: url(../img/slide-5.jpg);"></div>
        </div>
        <div class="swiper-slide assortiment-nav__slide">
          <div class="assortiment-nav__img" style="background-image: url(../img/slide-3.jpg);"></div>

        </div>
        <div class="swiper-slide assortiment-nav__slide">
          <div class="assortiment-nav__img" style="background-image: url(../img/slide-5.jpg);"></div>
        </div>
        <div class="swiper-slide assortiment-nav__slide">
          <div class="assortiment-nav__img" style="background-image: url(../img/slide-4.jpg);"></div>
        </div>
        <div class="swiper-slide assortiment-nav__slide">
          <div class="assortiment-nav__img" style="background-image: url(../img/slide-1.jpg);"></div>
        </div>
      </div>
    </div>
  </div>
</section>
