<section class="catalog">
  <div class="catalog__container container-middle">
    <div class="catalog__top">
      <div class="catalog__menu">
        <a href="#" class="catalog__main">Главная</a>
        <h2 class="catalog__category">Категории</h2>
      </div>
      <div class="catalog__search search">
        <form action="#" class="search__form">
          <input type="text" class="search__input search__select" placeholder="поиск">
          <button class="search__btn form-btn btn-reset">
             <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.8779 18.6996L14.0681 12.8897C15.17 11.5293 15.8334 9.79975 15.8334 7.9167C15.8334 3.55145 12.2819 0 7.91666 0C3.55141 0 0 3.55145 0 7.9167C0 12.2819 3.55145 15.8334 7.9167 15.8334C9.79975 15.8334 11.5293 15.17 12.8897 14.0681L18.6996 19.878C18.8623 20.0407 19.1261 20.0407 19.2889 19.878L19.878 19.2888C20.0407 19.1261 20.0407 18.8623 19.8779 18.6996ZM7.9167 14.1667C4.47024 14.1667 1.66668 11.3631 1.66668 7.9167C1.66668 4.47024 4.47024 1.66668 7.9167 1.66668C11.3631 1.66668 14.1667 4.47024 14.1667 7.9167C14.1667 11.3631 11.3631 14.1667 7.9167 14.1667Z"
                fill="#352744" />
            </svg>
          </button>

      </div>
    </div>
    <ul class="shop__list list-reset category">
      <li class="shop__item category__item category__item--1">
        <a href="#" class="category__link">
          <article class="category__block">
            <div class="category__img">
              <img src="img/category-1.png" alt="">
             </div>
            <div class="category__content">
              <div class="category__name">
                <span>Комнатные растения</span></div>
            </div>
           </article>
        </a>
      </li>
      <li class="shop__item category__item category__item--2">
        <a href="#" class="category__link">
          <article class="category__block">
            <div class="category__img">
              <img src="img/category-2.png" alt="">
             </div>
            <div class="category__content">
              <div class="category__name">
                <span>Букеты</span></div>
            </div>
           </article>
        </a>
      </li>
      <li class="shop__item category__item category__item--3">
        <a href="#" class="category__link">
          <article class="category__block">
            <div class="category__img">
              <img src="img/category-3.png" alt="">
             </div>
            <div class="category__content">
              <div class="category__name">
                <span>Семена</span></div>
            </div>
           </article>
        </a>
      </li>
      <li class="shop__item category__item category__item--4">
        <a href="#" class="category__link">
          <article class="category__block">
            <div class="category__img">
              <img src="img/category-4.png" alt="">
             </div>
            <div class="category__content">
              <div class="category__name">
                <span>Бонсаи</span></div>
            </div>
           </article>
        </a>
      </li>
      <li class="shop__item category__item category__item--5">
        <a href="#" class="category__link">
          <article class="category__block">
            <div class="category__img">
              <img src="img/category-5.png" alt="">
             </div>
            <div class="category__content">
              <div class="category__name">
                <span>аксессуары</span></div>
            </div>
           </article>
        </a>
      </li>
      <li class="shop__item category__item category__item--6">
        <a href="#" class="category__link">
          <article class="category__block">
            <div class="category__img">
              <img src="img/category-6.png" alt="">
             </div>
            <div class="category__content">
              <div class="category__name">
                <span>Инвентарь</span></div>
            </div>
           </article>
        </a>
      </li>
      <li class="shop__item category__item category__item--7">
        <a href="#" class="category__link">
          <article class="category__block">
            <div class="category__img">
              <img src="img/category-7.png" alt="">
             </div>
            <div class="category__content">
              <div class="category__name">
                <span>Фонтанчики</span></div>
            </div>
           </article>
        </a>
      </li>
      <li class="shop__item category__item category__item--8">
        <a href="#" class="category__link">
          <article class="category__block">
            <div class="category__img">
              <img src="img/category-8.png" alt="">
             </div>
            <div class="category__content">
              <div class="category__name">
                <span>Мухоловки!</span></div>
            </div>
           </article>
        </a>
      </li>

    </ul>

  </div>
</section>
