<section class="categories">
  <div class="categories__container container-middle">
    <div class="categories__inner">
      <ul class="shop__list list-reset category">
        <li class="shop__item category__item category__item--1">
          <a href="#" class="category__link">
            <article class="category__block">
              <div class="category__img">
                <img src="img/category-1.png" alt="">
               </div>
              <div class="category__content">
                <div class="category__name">
                  <span>Комнатные растения</span></div>
              </div>
             </article>
          </a>
        </li>
        <li class="shop__item category__item category__item--2">
          <a href="#" class="category__link">
            <article class="category__block">
              <div class="category__img">
                <img src="img/category-2.png" alt="">
               </div>
              <div class="category__content">
                <div class="category__name">
                  <span>Букеты</span></div>
              </div>
             </article>
          </a>
        </li>
        <li class="shop__item category__item category__item--3">
          <a href="#" class="category__link">
            <article class="category__block">
              <div class="category__img">
                <img src="img/category-3.png" alt="">
               </div>
              <div class="category__content">
                <div class="category__name">
                  <span>Семена</span></div>
              </div>
             </article>
          </a>
        </li>
        <li class="shop__item category__item category__item--4">
          <a href="#" class="category__link">
            <article class="category__block">
              <div class="category__img">
                <img src="img/category-4.png" alt="">
               </div>
              <div class="category__content">
                <div class="category__name">
                  <span>Бонсаи</span></div>
              </div>
             </article>
          </a>
        </li>
        <li class="shop__item category__item category__item--5">
          <a href="#" class="category__link">
            <article class="category__block">
              <div class="category__img">
                <img src="img/category-5.png" alt="">
               </div>
              <div class="category__content">
                <div class="category__name">
                  <span>аксессуары</span></div>
              </div>
             </article>
          </a>
        </li>
        <li class="shop__item category__item category__item--6">
          <a href="#" class="category__link">
            <article class="category__block">
              <div class="category__img">
                <img src="img/category-6.png" alt="">
               </div>
              <div class="category__content">
                <div class="category__name">
                  <span>Инвентарь</span></div>
              </div>
             </article>
          </a>
        </li>
        <li class="shop__item category__item category__item--7">
          <a href="#" class="category__link">
            <article class="category__block">
              <div class="category__img">
                <img src="img/category-7.png" alt="">
               </div>
              <div class="category__content">
                <div class="category__name">
                  <span>Фонтанчики</span></div>
              </div>
             </article>
          </a>
        </li>
        <li class="shop__item category__item category__item--8">
          <a href="#" class="category__link">
            <article class="category__block">
              <div class="category__img">
                <img src="img/category-8.png" alt="">
               </div>
              <div class="category__content">
                <div class="category__name">
                  <span>Мухоловки!</span></div>
              </div>
             </article>
          </a>
        </li>

      </ul>
    </div>
  </div>
</section>
