<section class="categories">
  <div class="categories__container container-middle">
    <div class="categories__inner">
      <ul class="categories__list list-reset">
        <li class="categories__item">
          <a href="#" class="categories__link">
            <article class="categories__block">
              <div class="categories__content">
                <h3 class="categories__name">
                  <a href="#" class="categories__name-link">Комнатные растения</a></h3>
              </div>
            </article>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <article class="categories__block">
              <div class="categories__content">
                <h3 class="categories__name">
                  <a href="#" class="categories__name-link">Комнатные растения</a></h3>
              </div>
            </article>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <article class="categories__block">
              <div class="categories__content">
                <h3 class="categories__name">
                  <a href="#" class="categories__name-link">Комнатные растения</a></h3>
              </div>
            </article>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <article class="categories__block">
              <div class="categories__content">
                <h3 class="categories__name">
                  <a href="#" class="categories__name-link">Комнатные растения</a></h3>
              </div>
            </article>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <article class="categories__block">
              <div class="categories__content">
                <h3 class="categories__name">
                  <a href="#" class="categories__name-link">Комнатные растения</a></h3>
              </div>
            </article>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <article class="categories__block">
              <div class="categories__content">
                <h3 class="categories__name">
                  <a href="#" class="categories__name-link">Комнатные растения</a></h3>
              </div>
            </article>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <article class="categories__block">
              <div class="categories__content">
                <h3 class="categories__name">
                  <a href="#" class="categories__name-link">Комнатные растения</a></h3>
              </div>
            </article>
          </a>
        </li>
        <li class="categories__item">
          <a href="#" class="categories__link">
            <article class="categories__block">
              <div class="categories__content">
                <h3 class="categories__name">
                  <a href="#" class="categories__name-link">Комнатные растения</a></h3>
              </div>
            </article>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
