<section class="contacts">
  <div class="contacts__container container">
    <div class="contacts__inner">
      <div class="contacts__img">
        <img src="img/slide-3.jpg" alt="">
      </div>
      <div class="contacts__block">
        <div class="contacts__content">
          <h2 class="contacts__title title">
            Наш адрес
          </h2>
          <address class="contacts__address">
            г. Серпухов
            <span>
              ул. Карла Маркса 53
            </span>
          </address>
          <div class="contacts__btn">
            <button class="btn btn-reset btn--grey">
              показать на карте
            </button>
          </div>
          <div class="contacts__list list-reset">
            <li>тел. +7(423)678-90-89</li>
            <li>+7(423)678-90-89</li>
            <li>email: sadzvetov@list.ru</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
