<section class="event">
  <div class="event__container container">
    <h2 class="event__title title">
      Мероприятия
    </h2>
    <div class="event__content grid">
      <ul class="list-reset event-nav">
       <li class="event-nav__item">
          <button class="btn-reset event-nav__btn">11 Марта 2022</button>
        </li>
        <li class="event-nav__item">
          <button class="btn-reset event-nav__btn">11 апреля 2022</button>
        </li>
        <li class="event-nav__item">
          <button class="btn-reset event-nav__btn">18 июня 2022</button>
        </li>
        <li class="event-nav__item">
          <button class="btn-reset event-nav__btn">11 Марта 2022</button>
        </li>
        <li class="event-nav__item">
          <button class="btn-reset event-nav__btn">11 апреля 2022</button>
        </li>
      </ul>
      <div class="event__item event-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/slide-1.jpg" alt="event image" class="event__image">
             <h3 class="event__name">Икебана</h3>
            <p class="event__descr">
              Мастеркласс по созданию(только 1 день!)
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/slide-2.jpg" alt="event image" class="event__image">
             <h3 class="event__name">Икебана</h3>
            <p class="event__descr">
              Мастеркласс по созданию(только 1 день!)
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/slide-3.jpg" alt="event image" class="event__image">
            <h3 class="event__name">Икебана</h3>
            <p class="event__descr">
              Мастеркласс по созданию(только 1 день!)
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/slide-4.jpg" alt="event image" class="event__image">
             <h3 class="event__name">Икебана</h3>
            <p class="event__descr">
              Мастеркласс по созданию(только 1 день!)
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/slide-5.jpg" alt="event image" class="event__image">
             <h3 class="event__name">Икебана</h3>
            <p class="event__descr">
              Мастеркласс по созданию(только 1 день!)
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
