<header class="header container-fluid">
  <div class="container-middle header__container">
    <div class="header__left">
      <div class="header__logo">
        <img src="img/svg/logo-min.svg" alt="">
      </div>
    </div>

<div class="header__right">
  <nav class="nav header__nav" title="">
    <ul class="nav__list list-reset">
      <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Корзина</a></li>
</ul>
  </nav>
  <button class="btn-reset burger" aria-label="Открыть меню">
    <span class="burger__line"></span>
  </button>
</div>
</div>
</header>
