<section class="list">
  <div class="container list__container">
    <div class="list__inner">
      <div class="list__left">
        <ul class="list__list list-reset">
          <li class="list__item">
            <span class="list__txt">
              Более 10 000 видов комнатных и садовых цветов
            </span>
          </li>
          <li class="list__item">
            <span class="list__txt">
              Огромный ассортимент семян
            </span>
          </li>
          <li class="list__item">
            <span class="list__txt">
              Оригинальные элементы декора
            </span>
          </li>
          <li class="list__item">
            <span class="list__txt">
              Качественный инвентарь
            </span>
          </li>
          <li class="list__item">
            <span class="list__txt">
              Подкормки и удобрения
            </span>
          </li>
        </ul>
      </div>
      <div class="list__right">
        <div class="list__btn">
          <button class="btn-reset btn btn--yellow">Перейти в каталог</button>
        </div>
      </div>
    </div>
  </div>
</section>
