<section class="phone">
  <div class="container phone__container">
    <h2 class="phone__title title">
      Это Сад Цветов!
    </h2>
    <div class="phone__inner">
<div class="phone__left">
        <div class="phone__img">
          <img src="img/phone.png" alt="">
        </div>
      </div>
      <div class="phone__right">
        <ul class="phone__list list-reset">
          <li class="phone__item">
            <span class="phone__txt">
              Онлайн консультация
            </span>
          </li>
          <li class="phone__item">
            <span class="phone__txt">
              Экзотические растения на заказ
            </span>
          </li>
          <li class="phone__item">
            <span class="phone__txt">
              Видео-уроки от наших специалистов
            </span>
          </li>
          <li class="phone__item">
            <span class="phone__txt">
              Оплата после доставки
            </span>
          </li>
          <li class="phone__item">
            <span class="phone__txt">
              Выбрать букет и заказать быструю доставку
            </span>
          </li>
        </ul>
        <div class="phone__btn">
          <button class="btn btn-reset btn--yellow">
            прямо сейчас
          </button>
        </div>

      </div>
    </div>
  </div>
</section>
