<section class="quotes">
  <div class="quotes__container container-middle">
    <ul class="list-reset quotes__list">
      <li class="quotes__item quotes__item--1">
        <article class="quote-block">
          <h3 class="quote-block__title">
            Светлана Андреева
          </h3>
          <blockquote class="quote-block__txt">
            Собирала букет для учительницы -
            очень
            оригинально получилось, а
            главное -
            с душой!
          </blockquote>
          <div class="quote-block__time">
            <time>
              20.11.2022
            </time>
          </div>
        </article>
      </li>
      <li class="quotes__item quotes__item--2">
        <article class="quote-block">
          <h3 class="quote-block__title">
            Миша Цой
          </h3>
          <blockquote class="quote-block__txt">
            Собирала букет для учительницы -
            очень
            оригинально получилось, а
            главное -
            с душой!
          </blockquote>
          <div class="quote-block__time">
            <time>
              20.11.2022
            </time>
          </div>
        </article>
      </li>
      <li class="quotes__item quotes__item--3">
        <article class="quote-block">
          <h3 class="quote-block__title">
            Светлана Андреева
          </h3>
          <blockquote class="quote-block__txt">
            Собирала букет для учительницы -
            очень
            оригинально получилось, а
            главное -
            с душой!
          </blockquote>
          <div class="quote-block__time">
            <time>
              20.11.2022
            </time>
          </div>
        </article>
      </li>
      <li class="quotes__item quotes__item--4">
        <article class="quote-block">
          <h3 class="quote-block__title">
            Светлана Андреева
          </h3>
          <blockquote class="quote-block__txt">
            Собирала букет для учительницы -
            очень
            оригинально получилось, а
            главное -
            с душой!
          </blockquote>
          <div class="quote-block__time">
            <time>
              20.11.2022
            </time>
          </div>
        </article>
      </li>
      <li class="quotes__item quotes__item--5">
        <article class="quote-block">
          <h3 class="quote-block__title">
            Миша Цой
          </h3>
          <blockquote class="quote-block__txt">
            Собирала букет для учительницы -
            очень
            оригинально получилось, а
            главное -
            с душой!
          </blockquote>
          <div class="quote-block__time">
            <time>
              20.11.2022
            </time>
          </div>
        </article>
      </li>
      <li class="quotes__item quotes__item--6">
        <article class="quote-block">
          <h3 class="quote-block__title">
            Светлана Андреева
          </h3>
          <blockquote class="quote-block__txt">
            Собирала букет для учительницы -
            очень
            оригинально получилось, а
            главное -
            с душой!
          </blockquote>
          <div class="quote-block__time">
            <time>
              20.11.2022
            </time>
          </div>
        </article>
      </li>
    </ul>
    <button class="btn btn-reset btn--grey quote-block__btn">
      Показать больше отзывов
    </button>
  </div>
</section>
