<div class="section recommended">
  <div class="recommended__container container-fluid">
    <h2 class="title recommended__title">
      Рекомендуем
    </h2>

    <div class="swiper mySwiper recommended-slider">
      <div class="swiper-wrapper recommended-slider__wrap">
        <div class="swiper-slide recommended-slider__slide">
          <li class="shop__item product__item recommended-product__item">
            <a href="#" class="product__link">
              <article class="product__block">
                <div class="product__img recommended-product__img">
                  <img src="img/product-1.png" alt="">
                  <div class="product__btns recommended-product__btns">
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#eye"></use>
                      </svg>
                    </button>
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#cart"></use>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="product__content recommended-product__content">
                  <div class="product__name recommended-product__name">
                    <span>Азалия двулистная</span></div>
                </div>
                <div class="product__price recommended-product__price">2000 Р</div>
              </article>
            </a>
          </li>
        </div>
        <div class="swiper-slide recommended-slider__slide">
          <li class="shop__item product__item recommended-product__item">
            <a href="#" class="product__link">
              <article class="product__block">
                <div class="product__img recommended-product__img">
                  <img src="img/product-1.png" alt="">
                  <div class="product__btns recommended-product__btns">
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#eye"></use>
                      </svg>
                    </button>
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#cart"></use>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="product__content recommended-product__content">
                  <div class="product__name recommended-product__name">
                    <span>Азалия двулистная</span></div>
                </div>
                <div class="product__price recommended-product__price">2000 Р</div>
              </article>
            </a>
          </li>
        </div>
        <div class="swiper-slide recommended-slider__slide">
          <li class="shop__item product__item recommended-product__item">
            <a href="#" class="product__link">
              <article class="product__block">
                <div class="product__img recommended-product__img">
                  <img src="img/product-2.png" alt="">
                  <div class="product__btns recommended-product__btns">
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#eye"></use>
                      </svg>
                    </button>
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#cart"></use>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="product__content recommended-product__content">
                  <div class="product__name recommended-product__name">
                    <span>Азалия двулистная</span></div>
                </div>
                <div class="product__price recommended-product__price">2000 Р</div>
              </article>
            </a>
          </li>
        </div>
        <div class="swiper-slide recommended-slider__slide">
          <li class="shop__item product__item recommended-product__item">
            <a href="#" class="product__link">
              <article class="product__block">
                <div class="product__img recommended-product__img">
                  <img src="img/product-3.png" alt="">
                  <div class="product__btns recommended-product__btns">
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#eye"></use>
                      </svg>
                    </button>
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#cart"></use>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="product__content recommended-product__content">
                  <div class="product__name recommended-product__name">
                    <span>Азалия двулистная</span></div>
                </div>
                <div class="product__price recommended-product__price">2000 Р</div>
              </article>
            </a>
          </li>
        </div>
        <div class="swiper-slide recommended-slider__slide">
          <li class="shop__item product__item recommended-product__item">
            <a href="#" class="product__link">
              <article class="product__block">
                <div class="product__img recommended-product__img">
                  <img src="img/product-4.png" alt="">
                  <div class="product__btns recommended-product__btns">
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#eye"></use>
                      </svg>
                    </button>
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#cart"></use>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="product__content recommended-product__content">
                  <div class="product__name recommended-product__name">
                    <span>Азалия двулистная</span></div>
                </div>
                <div class="product__price recommended-product__price">2000 Р</div>
              </article>
            </a>
          </li>
        </div>
        <div class="swiper-slide recommended-slider__slide">
          <li class="shop__item product__item recommended-product__item">
            <a href="#" class="product__link">
              <article class="product__block">
                <div class="product__img recommended-product__img">
                  <img src="img/product-5.png" alt="">
                  <div class="product__btns recommended-product__btns">
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#eye"></use>
                      </svg>
                    </button>
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#cart"></use>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="product__content recommended-product__content">
                  <div class="product__name recommended-product__name">
                    <span>Азалия двулистная</span></div>
                </div>
                <div class="product__price recommended-product__price">2000 Р</div>
              </article>
            </a>
          </li>
        </div>
        <div class="swiper-slide recommended-slider__slide">
          <li class="shop__item product__item recommended-product__item">
            <a href="#" class="product__link">
              <article class="product__block">
                <div class="product__img recommended-product__img">
                  <img src="img/product-6.png" alt="">
                  <div class="product__btns recommended-product__btns">
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#eye"></use>
                      </svg>
                    </button>
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#cart"></use>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="product__content recommended-product__content">
                  <div class="product__name recommended-product__name">
                    <span>Азалия двулистная</span></div>
                </div>
                <div class="product__price recommended-product__price">2000 Р</div>
              </article>
            </a>
          </li>
        </div>
        <div class="swiper-slide recommended-slider__slide">
          <li class="shop__item product__item recommended-product__item">
            <a href="#" class="product__link">
              <article class="product__block">
                <div class="product__img recommended-product__img">
                  <img src="img/product-7.png" alt="">
                  <div class="product__btns recommended-product__btns">
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#eye"></use>
                      </svg>
                    </button>
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#cart"></use>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="product__content recommended-product__content">
                  <div class="product__name recommended-product__name">
                    <span>Азалия двулистная</span></div>
                </div>
                <div class="product__price recommended-product__price">2000 Р</div>
              </article>
            </a>
          </li>
        </div>
        <div class="swiper-slide recommended-slider__slide">
          <li class="shop__item product__item recommended-product__item">
            <a href="#" class="product__link">
              <article class="product__block">
                <div class="product__img recommended-product__img">
                  <img src="img/product-6.png" alt="">
                  <div class="product__btns recommended-product__btns">
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#eye"></use>
                      </svg>
                    </button>
                    <button class="btn-reset product__btn">
                      <svg class="product__svg">
                        <use xlink:href="img/sprite.svg#cart"></use>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="product__content recommended-product__content">
                  <div class="product__name recommended-product__name">
                    <span>Азалия двулистная</span></div>
                </div>
                <div class="product__price recommended-product__price">2000 Р</div>
              </article>
            </a>
          </li>
        </div>


      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
