<section class="shop">
  <div class="shop__container container-middle">
    <div class="shop__top">
      <div class="shop__menu">
        <a href="#" class="shop__main">Главная</a>
        <h2 class="shop__category">Комнатные растения</h2>
      </div>
      <div class="shop__search search">
        <form action="#" class="search__form">

          <select name="sort" class="search__select">
            <option value="">Цены:по возрастанию</option>
            <option value="dog">по убыванию</option>
            <option value="cat">популярное</option>
            <option value="hamster">новинки</option>
            <option value="parrot">скидки</option>
          </select>
          <button class="search__btn btn-reset">

      </div>
    </div>
    <ul class="shop__list list-reset product">
      <li class="shop__item product__item">
        <a href="#" class="product__link">
          <article class="product__block">
            <div class="product__img">
              <img src="img/product-1.png" alt="">
              <div class="product__btns">
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#eye"></use>
                  </svg>
                </button>
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>

              <div class="product__cart">
                <button class="btn btn-reset btn--blue">В корзину</button>
              </div>
            </div>
            <div class="product__content">
              <div class="product__name">
                <span>Азалия двулистная</span></div>
            </div>
            <div class="product__price">2000 Р</div>
          </article>
        </a>
      </li>
      <li class="shop__item product__item">
        <a href="#" class="product__link">
          <article class="product__block">
            <div class="product__img">
              <img src="img/product-2.png" alt="">
              <div class="product__btns">
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#eye"></use>
                  </svg>
                </button>
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__cart">
                <button class="btn btn-reset btn--blue">В корзину</button>
              </div>
            </div>
            <div class="product__content">
              <div class="product__name">
                <span>Азалия двулистная</span></div>
            </div>
            <div class="product__price">2000 Р</div>
          </article>
        </a>
      </li>
      <li class="shop__item product__item">
        <a href="#" class="product__link">
          <article class="product__block">
            <div class="product__img">
              <img src="img/product-3.png" alt="">
              <div class="product__btns">
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#eye"></use>
                  </svg>
                </button>
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__cart">
                <button class="btn btn-reset btn--blue">В корзину</button>
              </div>
            </div>
            <div class="product__content">
              <div class="product__name">
                <span>Азалия двулистная</span></div>
            </div>
            <div class="product__price">2000 Р</div>
          </article>
        </a>
      </li>
      <li class="shop__item product__item">
        <a href="#" class="product__link">
          <article class="product__block">
            <div class="product__img">
              <img src="img/product-4.png" alt="">
              <div class="product__btns">
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#eye"></use>
                  </svg>
                </button>
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__cart">
                <button class="btn btn-reset btn--blue">В корзину</button>
              </div>
            </div>
            <div class="product__content">
              <div class="product__name">
                <span>Паххиподиум</span></div>
            </div>
            <div class="product__price">2000 Р</div>
          </article>
        </a>
      </li>
      <li class="shop__item product__item">
        <a href="#" class="product__link">
          <article class="product__block">
            <div class="product__img">
              <img src="img/product-5.png" alt="">
              <div class="product__btns">
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#eye"></use>
                  </svg>
                </button>
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__cart">
                <button class="btn btn-reset btn--blue">В корзину</button>
              </div>
            </div>
            <div class="product__content">
              <div class="product__name">
                <span>Азалия двулистная</span></div>
            </div>
            <div class="product__price">2000 Р</div>
          </article>
        </a>
      </li>
      <li class="shop__item product__item">
        <a href="#" class="product__link">
          <article class="product__block">
            <div class="product__img">
              <img src="img/product-6.png" alt="">
              <div class="product__btns">
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#eye"></use>
                  </svg>
                </button>
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__cart">
                <button class="btn btn-reset btn--blue">В корзину</button>
              </div>
            </div>
            <div class="product__content">
              <div class="product__name">
                <span>Азалия двулистная</span></div>
            </div>
            <div class="product__price">2000 Р</div>
          </article>
        </a>
      </li>
      <li class="shop__item product__item">
        <a href="#" class="product__link">
          <article class="product__block">
            <div class="product__img">
              <img src="img/product-7.png" alt="">
              <div class="product__btns">
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#eye"></use>
                  </svg>
                </button>
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__cart">
                <button class="btn btn-reset btn--blue">В корзину</button>
              </div>
            </div>
            <div class="product__content">
              <div class="product__name">
                <span>Азалия двулистная</span></div>
            </div>
            <div class="product__price">2000 Р</div>
          </article>
        </a>
      </li>
      <li class="shop__item product__item">
        <a href="#" class="product__link">
          <article class="product__block">
            <div class="product__img">
              <img src="img/product-8.png" alt="">
              <div class="product__btns">
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#eye"></use>
                  </svg>
                </button>
                <button class="btn-reset product__btn">
                  <svg class="product__svg">
                    <use xlink:href="img/sprite.svg#cart"></use>
                  </svg>
                </button>
              </div>
              <div class="product__cart">
                <button class="btn btn-reset btn--blue">В корзину</button>
              </div>
            </div>
            <div class="product__content">
              <div class="product__name">
                <span>Азалия двулистная</span></div>
            </div>
            <div class="product__price">2000 Р</div>
          </article>
        </a>
      </li>
    </ul>
    <div class="shop__bottom">
      <div class="shop__btn">
        <button class="btn-reset btn btn--violet">загрузить еще</button>
      </div>
      <div class="shop__pagination">
        <ul class="pagination__list list-reset">
          <li class="pagination__item pagination__item--current">
<span class="page-numbers current">1</span>
</li>
          <li class="pagination__item">
<a href="#" class="page-numbers">2</a>
</li>
          <li class="pagination__item">
<a href="#" class="next page-numbers"></a>
</li>
        </ul>
      </div>
      <div class="shop__nav">
        <button class="shop__nav__btn btn-reset btn btn--light">Подобрать по цене</button>
        <button class="shop__nav__btn btn-reset btn btn--light">В каталог</button>
      </div>
    </div>
  </div>
</section>
