<section class="team">
  <div class="team__container container">
    <h2 class="team__title">Наша команда</h2>
    <div class="team__inner">
      <ul class="team__list">
        <li class="team__item">
          <div class="team__img">
            <img src="" alt="">
          </div>
          <div class="team__content">
            <h3 class="team__name">
              Анна
            </h3>
            <p class="team__descr">
              Я каждую неделю оотыскиваю что-то
              новое, так что скучать у нас
               не придется.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

</section>
