<section class="team">
  <div class="team__container container">
    <h2 class="team__title title">Наша команда</h2>
    <div class="swiper mySwiper team-slider">
      <div class="swiper-wrapper team-slider__wrap">
        <div class="swiper-slide team-slider__slide"><img src="img/photo-1.png" alt="">
          <div class="team-slider__content">
            <h3 class="team-slider__name">
              Анна
            </h3>
            <p class="team-slider__descr">
              Я каждую неделю оотыскиваю что-то
              новое, так что скучать у нас
              не придется.
            </p>
          </div>
        </div>
        <div class="swiper-slide team-slider__slide"><img src="img/photo-2.png" alt="">
          <div class="team-slider__content">
            <h3 class="team-slider__name">
              Анна
            </h3>
            <p class="team-slider__descr">
              Я каждую неделю оотыскиваю что-то
              новое, так что скучать у нас
              не придется.
            </p>
          </div>
        </div>
        <div class="swiper-slide team-slider__slide"><img src="img/photo-3.png" alt="">
          <div class="team-slider__content">
            <h3 class="team-slider__name">
              Анна
            </h3>
            <p class="team-slider__descr">
              Я каждую неделю оотыскиваю что-то
              новое, так что скучать у нас
              не придется.
            </p>
          </div>
        </div>
        <div class="swiper-slide team-slider__slide"><img src="img/photo-1.png" alt="">
          <div class="team-slider__content">
            <h3 class="team-slider__name">
              Анна
            </h3>
            <p class="team-slider__descr">
              Я каждую неделю оотыскиваю что-то
              новое, так что скучать у нас
              не придется.
            </p>
          </div>
        </div>
        <div class="swiper-slide team-slider__slide"><img src="img/photo-2.png" alt="">
          <div class="team-slider__content">
            <h3 class="team-slider__name">
              Анна
            </h3>
            <p class="team-slider__descr">
              Я каждую неделю оотыскиваю что-то
              новое, так что скучать у нас
              не придется.
            </p>
          </div>
        </div>
        <div class="swiper-slide team-slider__slide"><img src="img/photo-2.png" alt="">
          <div class="team-slider__content">
            <h3 class="team-slider__name">
              Анна
            </h3>
            <p class="team-slider__descr">
              Я каждую неделю оотыскиваю что-то
              новое, так что скучать у нас
              не придется.
            </p>
          </div>
        </div>
        <div class="swiper-slide team-slider__slide"><img src="img/photo-4.png" alt="">
          <div class="team-slider__content">
            <h3 class="team-slider__name">
              Анна
            </h3>
            <p class="team__descr">
              <p class="team-slider__descr">
                Я каждую неделю оотыскиваю что-то
                новое, так что скучать у нас
                не придется.
              </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
