<section class="ticker-block">
  <h2 class="title ticker-block__title">
    Почему Выбирают Нас
  </h2>

  <div class="ticker">
    <div class="ticker__wrapper">
      <div class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#check"></use>
          </svg>
        </div>

        новинки</div>
      <div class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#car"></use>
          </svg>
        </div>

        Разноообразие </div>
      <div class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#check"></use>
          </svg>
        </div>

        Быстрая доставка</div>
      <div class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#hours"></use>
          </svg>
        </div>

        Большие скидки </div>
      <div class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#icon"></use>
          </svg>
        </div>

        профессионализм</div>
      <div class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
        </div>
      Экономия времени</div>
      <div class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#check"></use>
          </svg>
        </div>

        консультации</div>
      <div class="ticker__item">
        <div class="ticker__item-img">
<svg class="">
          <use xlink:href="img/sprite.svg#car"></use>
        </svg>
        </div>

        лучшие отзывы</div>
    </div>
  </div>
</section>

