<section class="section-ticker enable-animation">
  <h2 class="title ticker-block__title">Почему Выбирают Нас</h2>
  <div class="marquee container-fluid">
    <ul class="marquee__content">
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-1"></use>
          </svg>
        </div>
        <span>новинки</span>
      </li>
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-2"></use>
          </svg>
        </div>
        <span>Доставка</span>
      </li>
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-3"></use>
          </svg>
        </div>
        <span>Скидки</span>
      </li>
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-4"></use>
          </svg>
        </div>
        <span>быстро</span>
      </li>
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-5"></use>
          </svg>
        </div><span>профессионалы</span>
      </li>
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-6"></use>
          </svg>
        </div>
        <span>консультации</span>
      </li>
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-7"></use>
          </svg>
        </div>
        <span>ассортимент</span>
      </li>
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-8"></use>
          </svg>
        </div>
        <span>лучшие отзывы</span>
      </li>
    </ul>
    <ul aria-hidden="true" class="marquee__content ">
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-1"></use>
          </svg>
        </div>
        <span>новинки</span>
      </li>
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-2"></use>
          </svg>
        </div>
        <span>Доставка</span>
      </li>
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-3"></use>
          </svg>
        </div>
        <span>скидки</span>
      </li>
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-4"></use>
          </svg>
        </div>
        <span>быстро</span>
      </li>
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-5"></use>
          </svg>
        </div>
        <span>профессионалы</span>
      </li>
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-6"></use>
          </svg>
        </div>
        <span>консультации</span>
      </li>
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-7"></use>
          </svg>
        </div>
        <span>ассортимент</span>
      </li>
      <li class="ticker__item">
        <div class="ticker__item-img">
          <svg class="">
            <use xlink:href="img/sprite.svg#ticker-8"></use>
          </svg>
        </div>
        <span>лучшие отзывы</span>
      </li>
    </ul>
  </div>
</section>
</div>
