// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/nav";
@import "./components/hero";
@import "./components/btn";
@import "./components/ticker";
@import "./components/categories";
@import "./components/team";
@import "./components/social";
@import "./components/contacts";
@import "./components/quotes";
@import "./components/assortiment";
@import "./components/list";
@import "./components/event";
@import "./components/phone";
@import "./components/search";
@import "./components/shop";
@import "./components/product";
@import "./components/pagination";
@import "./components/footer";

// тестовые стили, удалите их

